@media only screen and (min-width:700px){    
    #navi nav ul li{
        width:33%;
    }
    #asideRight{
        width:100%;
    }
    
}	
@media only screen and (min-width:900px){
    #navi, #view, #asideRight{
        float:left;
    }
    #navi{
        width:100%;
    }
    #view{
        width:54%;  
        float:left;
    }
    #bottom{        
       width:44%; 
       margin:0;
       padding:0;
       float:left;
    }
    #bottom #news ul li{
        width:49.3%;
        padding:0 0 35% 0;
        float:right;
        overflow:none;
    }
    #aside nav ul li a{
        font-size:1rem;
    }
    
}	